# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment files
.env

# Build files
build/
dist/

# Editor and IDE files
.vscode/
.idea/
*.iml

# Testing files
coverage/
.http

# Miscellaneous
.DS_Store
Thumbs.db
